.popup_background {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.popup_box {
    color: #356a93;
    text-align: center;
    width: 370px;
    height: 240px;
    margin-top: 101px;
    background-color: #f9ecc2ff;
    border-radius: 2px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto 40px;
    margin-top: 100px;
    position: relative;
    padding:20px;
}

.popup_box p {
    padding-top: 20px;
    line-height: 24px;
}

.popup_box button {
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    /* font-weight: bold; */
    background: #356a93;
    color: white;
    border-radius: 4px;
    border: 1px solid #356a93;
    margin-top:30px;
}

.popup_box button:hover {
    cursor: pointer;
}

.hidden { 
    display:none;
}

.continue_box {
    font-family: Helvetica, Arial, sans-serif;
    width: 200px;
    height: 105px;
    position: fixed;
    top: 50px;
    right: 20px;
    background: #f9ecc2ff;
    padding: 20px;
    box-shadow: 2px 2px #d8d2a7;
    border-radius: 4px;
}

.continue_box p {
    color: #356a93;
}

.continue_box button {
    background: #356a93;
    color: white;
    padding: 10px;
    border-width: 0px;
    width:100%;
    border-radius: 2px;
    float:right;
}

.continue_box button:hover {
    cursor:pointer;
}

/* ======================== onboarding Section ===================== */


#onboarding-widget {
    color: #356a93;
    text-align: center;
    width: 400px;
    background-color: #f9ecc2ff;
    border-radius: 2px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    padding: 20px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    height: 470px;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
    
}

h2 {
    font-weight:400;
    color:rgb(27, 27, 27);
    margin-bottom:50px;
}

.menu_title {
    width:100%;
    text-align:center;
    font-family: 'Libre Franklin', sans-serif;
    color:#0b6a8d;
}

.step {
    position: absolute;
    width: 400px;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(100%);
    display: none; /* Hide all steps initially */
    text-align: center;
    margin: auto;
}

.step li {
    text-align:left;
}

.step h3 {
    font-size:22px;
    font-weight:normal;
}

.step img {
    width:80%;
}

.step.active {
    opacity: 1;
    transform: translateX(0);
    display: block; /* Show active step */
}

.step.exit {
    opacity: 0;
    transform: translateX(-100%);
}

.back-step-row {
    width: 100%;
    position: absolute;
}

.back-step {
    float: left;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #0b6a8d;
    background-color: white;
    color: #0b6a8d;
    padding-left: 20px;
    padding-right: 20px;
}

.step_button {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 10px;
    border-width: 0px;
    color: white;
    background:#0b6a8d;
}

.step .subtext {
    font-size:1.1em;
    font-weight:bold;
}

.step_button:hover {
    cursor: pointer;
}

.menu_subtext {
    width:100%;
    margin-top:100px;
    color: #bcb8b8;
    font-style: italic;
    font-size:1em;
    text-align:center;
    font-family: sans-serif;
}

.step-list-item {
    padding:10px;
    font-size:1.2em;
    text-align:left;
}